//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 21 14:18:45 2015
//! **************************************************************************

SCHEMATIC START;
COMP "Q1" LOCATE = SITE "L12" LEVEL 1;
COMP "Q2" LOCATE = SITE "P14" LEVEL 1;
COMP "Q3" LOCATE = SITE "K12" LEVEL 1;
COMP "SET" LOCATE = SITE "L14" LEVEL 1;
COMP "X" LOCATE = SITE "F12" LEVEL 1;
COMP "Z" LOCATE = SITE "P13" LEVEL 1;
COMP "CLK" LOCATE = SITE "D9" LEVEL 1;
PIN CLK_pin<0> = BEL "CLK" PINNAME PAD;
PIN "CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "RESET" LOCATE = SITE "L13" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

